<html
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:v="urn:schemas-microsoft-com:vml"
>

  <head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
    <meta content="width=device-width" name="viewport" />
    <meta content="IE=edge" http-equiv="X-UA-Compatible" />
    <title>Email</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,800&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@300;400;500;600;700;800;900&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300;400;500;600;700;800;900&display=swap"
      rel="stylesheet"
    />
    <style type="text/css">
      body { margin: 0; padding: 0; background-color: #111111; }
    </style>
    <style id="media-query" type="text/css">

    </style>
  </head>

  <body style="width: 100%;">
    <table
      style="width: 750px; background-color: #222222; margin: auto; padding: 48px;"
    >
      <tr>
        <td>
          <img src="https://i.ibb.co/FXmbshH/nullcastlogo.png" alt="" />
        </td>
      </tr>
      <tr>
        <td
          style="color: #E2E2E2; font-family: Darker Grotesque; font-size: 40px; font-weight: 700;padding-top: 55px; "
        >
          Welcome onboard !
        </td>
      </tr>
      <tr style="height: 32px;"></tr>
      <tr>
        <td
          style="background-color: #333333; padding: 32px; text-align: center;border-radius: 8px; color: #FFFFFF; font-size: 20px; font-family: Open Sans; font-weight: 600;"
        >
          Your sign up request has been submitted
        </td>
      </tr>
      <tr style="height: 50px;"></tr>
      <tr>
        <td
          style="font-size: 16px; font-weight: 400; color: #E7E7E7; font-family: Open Sans; line-height: 25.28px;"
        >
          <p style="color: #E7E7E7;">Hello {{uname}},</p>
          <p style="margin-top: 28px;color: #E7E7E7;">
            {{description}}
          </p>

          <p style="margin-top: 24px;">We will send you an email if we approve
            your account.
          </p>
          <p style="margin-top: 72px;"> Best regards, </p>

          <p style="margin-top: 16px;"> Team Nullcast</p>
        </td>
      </tr>
    </table>
    <div
      class="triangle-up"
      style="width: 0; height: 0; border-left: 375px solid transparent; border-right: 375px solid transparent; border-bottom: 50px solid #F7DA5B;margin-bottom: -1px; margin: auto; background-color: #222222;margin-top: -1px;"
    ></div>
    <table
      style="width: 750px; background-color: #F7DA5B; margin: auto; padding: 48px; margin-top: -1px;"
    >
      <tr>
        <td
          style="color: #F33C5C; font-size: 28px; font-weight: 900; font-family: Darker Grotesque; text-align: center;"
        >
          Want #swag?
        </td>
      </tr>
      <tr>
        <td
          style="background-image: url('https://i.ibb.co/WzqpZW3/banner.png'); text-align: center; padding: 14px; background-position: center; background-repeat: no-repeat; padding-top: 14px; color: #000; font-size: 20px; font-weight: 900; text-transform: uppercase; font-family: heebo;"
        >
          congratulations
        </td>
      </tr>
      <tr>
        <td>
          <div
            class="resp"
            style="display: flex; margin-top: 53px; align-items: center; line-height: 22.12px; font-size: 14px;font-family: Open Sans;"
          >
            <div>
              One Lucky Duck gets free swag shipped to their doorstep, wherever
              in the world you are! All you have to do is join our Discord
              channel today and tweet about the amazing things we do. #nullcast
              #luckyduck

              <p style="color: #F33C5C;">We will announce the winners on Twitter
                and through our discord channel.</p>
            </div>
            <div>
              <img src="https://i.ibb.co/Tb2w0Lv/duck.png" alt="" />
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <td style="text-align: center; padding-top: 30px;">
          <button
            style="width: 212px;height: 48px;border: 1px solid #1C1C1D;background-color: #F13E5D;color: #fff;box-shadow: 0px 4px 0px #202020;
            border-radius: 10px; font-weight: 600;margin: auto; "
          >
            <a
              href="https://nullcast.dev/"
              style="text-decoration: none; color: #fff;"
            >
              VISIT NULLCAST
            </a>
          </button>
        </td>
      </tr>
    </table>
    <table style="width: 750px; margin: auto;">
      <tr>
        <td
          style="font-size: 12px; color: #8DA1A1; font-weight: 600; text-align: center; padding-top: 10px; font-family: Open Sans;"
        >
          Made with ❤️ by Neoito Ducks
        </td>
      </tr>
    </table>
  </body>
</html>